mixin product(image, description, price, modificator)
  //- modificator : "hit" - add hit  : "new"  -  add new  :  "action" - add action

  .product.relative.m-b-30
    a(href="#").product__link
      case modificator
        when "hit"
          .product__modificator
            img(src="./img/modificator-hit.png" alt="hit")
        when "new"
          .product__modificator
            img(src="./img/modificator-new.png" alt="new")
        when "action"
          .product__modificator
            img(src="./img/modificator-action.png" alt="action")
      .product__image
        img(src="./img/" + image alt="product image")
      .product__description #{description}
      .product__price
        -
          var rndPrice = Math.floor(Math.random() * Math.floor(10000));
        |#{rndPrice} #{" руб."}
    .product__button
      a(href="#").hover-order
        |ЗАКАЗАТЬ
        
mixin checkbox(chackboxItem)
  label.checkbox
    input(type="checkbox" id=chackboxItem.id name=chackboxItem.id checked=chackboxItem.status)
    span=chackboxItem.title
    span.checkmark
    -;

mixin addSearch(status)
  div(class = 'search' class = status)
    form.search__form
      input(type="search" name="search" placeholder="Что вы ищите?")
      button(type="submit")
        |o
    button o
    -;


mixin card(item)
  a.card(class=item.mod?"card_"+item.mod:'' href="#")
    picture

      img(src="img/"+item.img alt="")
    .card__title=item.title
