mixin product(image, description, price, labels)
  //- modificator : "hit" - add hit  : "new"  -  add new  :  "action" - add action

  .product.relative.m-b-30
    a(href="#").product__link
      -if(labels)
        .product__labels
          each label in labels
            div(class='product__modificator product__modificator_' + label)
      .product__image
        img(src="./img/" + image alt="product image")
      .product__description #{description}
      .product__price
        -
          var rndPrice = Math.floor(Math.random() * Math.floor(10000));
        |#{rndPrice} #{" руб."}
    .product__button
      a(href="#" data-price=rndPrice).hover-order
        |ЗАКАЗАТЬ

mixin checkbox(chackboxItem)
  label.checkbox
    input(type="checkbox" id=chackboxItem.id name=chackboxItem.id checked=chackboxItem.status)
    span=chackboxItem.title
    span.checkmark
    -;

mixin radio(radioItem)
  label.radio-btn
    input(type="radio"  name="radio" value=radioItem.id) 
    span=radioItem.title
    span.checkmark
  -;

mixin addSearch(status)
  div(class = 'search' class = status)
    form.search__form
      input(type="search" name="search" placeholder="Что вы ищите?")
      button(type="submit")
        .btn-search
    button
    -;


mixin card(item)
  a.card(class=item.mod?"card_"+item.mod:'' href="#")
    picture

      img(src="img/"+item.img alt="")
    .card__title=item.title
-;  
    
mixin order-decorator(index)
  .order-decorator
    .order-decorator__iteration #{index}

    
mixin delivery-radio(title, name, id, checked)
  -if(checked)
    .delivery-radio
      input(type="radio" name=""+name id="" + id checked)
      label(for="" + id).radiotitle-active #{title}
        span.radiospan
          span.radiochecked.radiochecked-active
  -else
    .delivery-radio
      input(type="radio" name="" + name id="" + id)
      label(for="" + id) #{title}
        span.radiospan
          span.radiochecked
